<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDisplayName</key><string>Mary</string>
  <key>CFBundleName</key><string>Mary</string>
  <key>CFBundleIdentifier</key><string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
  <key>CFBundleExecutable</key><string>$(EXECUTABLE_NAME)</string>
  <key>CFBundlePackageType</key><string>APPL</string>
  <key>CFBundleShortVersionString</key><string>13.3</string>
  <key>CFBundleVersion</key><string>133</string>
  <key>LSRequiresIPhoneOS</key><true/>
  <key>UIApplicationSupportsIndirectInputEvents</key><true/>
  <key>UILaunchStoryboardName</key><string>LaunchScreen</string>
  <key>UIRequiredDeviceCapabilities</key><array><string>arm64</string></array>
  <key>UISupportedInterfaceOrientations</key><array><string>UIInterfaceOrientationPortrait</string><string>UIInterfaceOrientationPortraitUpsideDown</string></array>
  <key>NSMicrophoneUsageDescription</key><string>Mary uses the microphone when you choose to talk to her.</string>
  <key>NSSpeechRecognitionUsageDescription</key><string>Mary uses speech recognition when you choose voice input.</string>
  <key>NSLocalNetworkUsageDescription</key><string>Mary can connect to your private MaryV2 host on your local network.</string>
  <key>NSAppTransportSecurity</key>
  <dict>
    <key>NSAllowsLocalNetworking</key><true/>
    <key>NSAllowsArbitraryLoadsInWebContent</key><true/>
  </dict>
</dict>
</plist>
